darwin.ppc
darwin.i386
CM
ckit-1.0.tar
Makefile.m?
arch
SETASIDE
linux.i386
sgi.mips3
CM
.cm
regression
CM
.cm
nowrite-cnv-ext.sml
bob_*
bob*
t.grm.*
c.grm.desc
c.grm.sig
c.grm.sml
c.lex.sml
Makefile.mo
tmp
:toC
.rsyncignore
linux.i386
freebsd.i386
sgi.mips3
tmp
*.cpy
TMP
ATTFlow-n54ny01239ta-0-20021111_005957-64731.bcp.bi.gz
array_skip3
enum-check
opt2
plongest
switched_union_in_place
union_in_place
*.big
*.pxml
cpygen_crs.c.good
*.xms
*.xsd
PREV
cpygen_*
tmp
*.bob
bob*.p
array_skip3.p
array_sorted.p
enum-check.p
opt2.p
opt3.p
plongest.p
plongest2.p
switched_union_in_place.p
union_in_place.p
k_*.p
filt
foo.tda
linux.i386
sgi.mips3
Makefile.mo
freebsd.i386
test_array_advance.c
test_array_skip3.c
test_enum-check.c
test_opt2.c
test_plongest.c
test_plongest2.c
test_punion_literal.c
test_slash.c
test_switched_union_in_place.c
test_union_in_place.c
sol8.sun4
darwin.ppc
cygwin.i386
linux.x86_64
darwin.i386
*.time
linux.i386
linux.i386
sgi.mips3
darwin.ppc
linux.i386
rwxml_palm
darwin.i386
ex_data.biglibtest1
linux.i386
sgi.mips3
sol8.sun4
darwin.ppc
cygwin.i386
pads_c.h
pads_c.ml
pads_c.mli
pads_c_stubs.c
cygwin.i386
sol8.sun4
linux.i386
sgi.mips3
darwin.ppc
linux.x86_64
*~
arch
regression
CM
.cm
CM
.cm
nowrite-cnv-ext.sml
t.grm.*
c.grm.desc
c.grm.sig
c.grm.sml
c.lex.sml
/Makefile.mo
/tmp
:toC
.rsyncignore
linux.i386
freebsd.i386
sgi.mips3
tmp
*.cpy
TMP
ATTFlow-n54ny01239ta-0-20021111_005957-64731.bcp.bi.gz
array_skip3
enum-check
opt2
plongest
switched_union_in_place
union_in_place
*.big
*.pxml
cpygen_crs.c.good
*.xms
*.xsd
PREV
cpygen_*
tmp
*.bob
bob*.p
array_skip3.p
array_sorted.p
enum-check.p
opt2.p
opt3.p
plongest.p
plongest2.p
switched_union_in_place.p
union_in_place.p
k_*.p
filt
foo.tda
linux.i386
sgi.mips3
Makefile.mo
SETASIDE
freebsd.i386
test_array_advance.c
test_array_skip3.c
test_enum-check.c
test_opt2.c
test_plongest.c
test_plongest2.c
test_punion_literal.c
test_slash.c
test_switched_union_in_place.c
test_union_in_place.c
sol8.sun4
darwin.ppc
cygwin.i386
linux.x86_64
darwin.i386
*.time
linux.i386
linux.i386
sgi.mips3
darwin.ppc
linux.i386
linux.i386
rwxml_palm
darwin.i386
darwin.i386
ex_data.biglibtest1
darwin.i386
linux.i386
sgi.mips3
sol8.sun4
darwin.ppc
cygwin.i386
pads_c.h
pads_c.ml
pads_c.mli
pads_c_stubs.c

cygwin.i386
sol8.sun4
linux.i386
sgi.mips3
darwin.ppc
linux.x86_64
*~
darwin.ppc
.xms
*.xsd
cygwin.i386
darwin.ppc
linux.i386
linux.x86_64
darwin.i386
darwin.ppc
darwin.i386
darwin.ppc
darwin.i386
darwin.ppc
darwin.i386
darwin.ppc
darwin.i386
CM
ckit-1.0.tar
Makefile.m?
arch
SETASIDE
SETASIDE
cmd/cmonster/linux.i386
cmd/cmonster/sgi.mips3
comp/CM
comp/.cm
comp/ckit/regression
examples/Makefile.mo
examples/tmp
examples/:toC
examples/.rsyncignore
examples/cbtests/linux.i386
examples/cbtests/freebsd.i386
examples/cbtests/sgi.mips3
examples/copybook/tmp
examples/copybook/*.cpy
examples/copybook/TMP
examples/data/ATTFlow-n54ny01239ta-0-20021111_005957-64731.bcp.bi.gz
examples/gen/*.c
examples/gen/*.pxml
examples/gen/cpygen_crs.c.good
examples/gen/*.xms
examples/gen/SETASIDE
examples/gen/*.xsd
examples/gen/PREV
examples/p/cpygen_*
examples/p/tmp
examples/p/*.bob
examples/p/bob*.p
examples/p/array_skip3.p
examples/p/array_sorted.p
examples/p/enum-check.p
examples/p/opt2.p
examples/p/opt3.p
examples/p/plongest.p
examples/p/plongest2.p
examples/p/switched_union_in_place.p
examples/p/union_in_place.p
examples/p/k_*.p
examples/palm/filt
examples/palm/foo.tda
examples/tests/linux.i386
examples/tests/sgi.mips3
examples/tests/Makefile.mo
examples/tests/SETASIDE
examples/tests/freebsd.i386
examples/tests/test_array_advance.c
examples/tests/test_array_skip3.c
examples/tests/test_enum-check.c
examples/tests/test_opt2.c
examples/tests/test_plongest.c
examples/tests/test_plongest2.c
examples/tests/test_punion_literal.c
examples/tests/test_slash.c
examples/tests/test_switched_union_in_place.c
examples/tests/test_union_in_place.c
examples/tests/sol8.sun4
examples/tests/darwin.ppc
examples/tests/cygwin.i386
examples/tests/linux.x86_64
examples/tests/darwin.i386
examples/timing/*.time
examples/xml/linux.i386
examples/xml/childrentest/linux.i386
examples/xml/childrentest/sgi.mips3
examples/xml/gen/*.c
examples/xml/tests/darwin.ppc
examples/xml/tests/linux.i386
examples/xml/yitzhak/linux.i386
examples/xml/yitzhak/tests/rwxml_palm
include/darwin.i386
libpads/darwin.i386
libpads/data/ex_data.biglibtest1
libpads/tests/darwin.i386
libpglx/linux.i386
libpglx/sgi.mips3
libpglx/sol8.sun4
libpglx/darwin.ppc
libpglx/cygwin.i386
pads-glx/pads_c.h
pads-glx/pads_c.ml
pads-glx/pads_c.mli
pads-glx/pads_c_stubs.c
pads-glx/
pads-glx/cygwin.i386
pads-glx/sol8.sun4
pads-glx/linux.i386
pads-glx/sgi.mips3
pads-glx/darwin.ppc
pads-glx/linux.x86_64
usecases/newick/gen/*.c
usecases/newick/queries/*~
usecases/newick/src/darwin.ppc
usecases/simple/gen/*.c
usecases/simple/gen/*.xms
usecases/simple/gen/*.xsd
usecases/simple/src/cygwin.i386
usecases/simple/src/darwin.ppc
usecases/simple/src/linux.i386
usecases/simple/src/linux.x86_64
usecases/simple/src/darwin.i386
usecases/simple2/src/darwin.ppc
usecases/simple2/src/darwin.i386
usecases/sirius/gen/*
usecases/sirius/src/darwin.ppc
usecases/sirius/src/darwin.i386
usecases/syslog/src/darwin.ppc
usecases/syslog/src/darwin.i386
usecases/wsl/src/darwin.ppc
usecases/wsl/src/darwin.i386
*penguin*
*Babylon*
